<div class="row">
  <div class="col-sm-11">
    <form [formGroup]="form">
      <select formControlName="category">
        <option value="">Select category</option>
        <option [value]="category.id" *ngFor="let category of categories$ | async">
          {{category.name}}
        </option>
      </select>
      <ng-container *ngIf="subCategories$ | async as subCategories">
        <select formControlName="subCategory">
          <option value="">Select sub-category</option>
          <option [value]="subCategory.id" *ngFor="let subCategory of subCategories">
            {{subCategory.name}}
          </option>
        </select>
      </ng-container>
      <select formControlName="difficulty">
        <option value="">Select difficulty</option>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
      <button class="primary" (click)="createQuiz()" [disabled]="form.invalid">Create</button>
    </form>
  </div>

</div>
<div class="row">
   <app-quiz [questions]="questions$ | async" ></app-quiz>
</div>
