<div class="row">
  <div class="col-sm-11">
    <form [formGroup]="form">
      <app-autocomplete
        placeholder="Select category"
        [control]="categoryControl"
        [itemsList]="categories$ | async">
      </app-autocomplete>
      <ng-container *ngIf="subCategories$ | async as subCategories">
        <app-autocomplete
          placeholder="Select sub-category"
          [control]="subCategoryControl"
          [itemsList]="subCategories">
        </app-autocomplete>
      </ng-container>
      <select formControlName="difficulty">
        <option value="">Select difficulty</option>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
      <button class="primary" (click)="createQuiz()" [disabled]="form.invalid">Create</button>
    </form>
  </div>
</div>
<div class="row">
   <app-quiz [questions]="questions$ | async" ></app-quiz>
</div>
